form.login > img {
  display: none;
  opacity: 0;
}

form.login {
  margin-left: 320px;
}

form.login::before {
  content: url("https://via.placeholder.com/300x450/3398cc/ffffff");
  position: absolute;
  margin-right: 20px;
  top: 0;
  right: 100%;
}
